# Ignore development files
.github/
.husky/
.idea/
.vscode/
ai_prompts/
node_modules/
scripts/
src/
tests/

# Configs
.gitignore
.npmrc
.versionrc
WORKFLOW.md
directory-tree.txt
eslint.config.js
jest.config.js
list.todo
tsconfig.json
webpack.config.js

# Keep dist and publish
!dist/
!publish/

