# Ignore development files
src/
tests/
scripts/
.github/
.husky/
.idea/
.vscode/
node_modules/

# Configs
tsconfig.json
webpack.config.js
jest.config.js
eslint.config.js
.gitignore
.npmrc
.versionrc
WORKFLOW.md
list.todo
directory-tree.txt

# Keep dist and publish
!dist/
!publish/
